.painting {
    margin-top: 40px;
}

.base {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: darkgray;
    position: relative;
}

.center-hole {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: white;

    position: relative;
    bottom: 140px;
    left: 60px;
}

.painting {
    position: relative;
    width: 300px;
    height: 300px;
}

.border-hole {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: white;
    position: relative;
}

.north {
    bottom: 310px;
    left: 75px;
}

.north-east {
    bottom: 480px;
    left: 150px;
}

.east {
    bottom: 255px;
    left: 180px;
}

.east-south {
    bottom: 380px;
    left: 150px;
}

.south {
    bottom: 200px;
    left: 75px;
}

.south-west {
    bottom: 430px;
    left: 0px;
}

.west {
    bottom: 360px;
    left: -30px;
}

.north-west {
    bottom: 630px;
    left: 0px;
}

.painting-transform {
    margin-top: 40px;
}

.base-transform {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: darkgray;
}

.center-hole-transform {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: white;

    transform: translate(60px, -140px);
}

.painting-transform {
    width: 300px;
    height: 300px;
}

.border-hole-transform {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: white;
}

.north-transform {
    transform: translate(75px, -310px);
}

.north-east-transform {
    transform: translate(150px, -480px);
}

.east-transform {
    transform: translate(180px, -255px);
}

.east-south-transform {
    transform: translate(150px, -380px);
}

.south-transform {
    transform: translate(75px, -200px);
}

.south-west-transform {
    transform: translate(0px, -430px);
}

.west-transform {
    transform: translate(-30px, -360px);
}

.north-west-transform {
    transform: translate(0px, -630px);
}
